.container{
    width: 80%;
    margin: auto;
    border-radius: 16px;
}

.weeklyCard{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(76, 126, 0);
    margin: 50px 0px ;
    padding: 20px ;
    font-family: cursive;
    background-color:rgb(255, 255, 255);
    border-radius: 16px;
}

.habitTitle{
    font-size: 20px;
    font-weight: 600;
    color:rgb(76, 126, 0);
    display: flex;
    margin: 2px;
    justify-content: space-between;
}


.weeklyDate{
   margin-top: 10px;
   display: flex ;
   text-align: center;
   align-items: center;
   justify-content: space-between;
   color: white;
}

.singleDay{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-radius: 5px;  
    background-color:rgb(76, 126, 0);
}

.whiteIcon {
    color: white;
  }
  